<%- include('partials/header') -%>

<h2>
    This is about me.
</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reiciendis nisi dignissimos quod omnis aliquid iure, dolores ex dolorum praesentium molestias corporis at. Voluptate distinctio velit numquam perspiciatis inventore. Numquam incidunt assumenda quae voluptatum.
</p>

<%- include('partials/footer') -%>
